name: build-and-dsse-attest

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write
  attestations: write  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc jq

      - name: Build binaries (x86_64)
        run: |
          gcc -O2 -o bin1 src1/hello.c
          gcc -O2 -o bin2 src2/hello2.c
        
      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            bin1
            bin2          
          subject-name: bin-${{ github.sha }}
          push-to-registry: false    

