name: build-and-dsse-attest

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write
  attestations: write  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc jq

      - name: Build binaries (x86_64)
        run: |
          gcc -O2 -o hello1 bin1/hello.c
          gcc -O2 -o hello2 bin2/hello2.c

      - name: Calculate hashes
        run: |
          sha256sum hello1 > subject.checksum.txt
          sha256sum hello2 > subject.checksum.txt
        
      - name: Attest build provenance
        uses: actions/attest@v2
        with:
          subject-checksum: subject.checksum.txt
          push-to-registry: false
